body {
    font-size: 16px;
    line-height: 1.25;
    font-family:'Poppins',sans-serif;
  }
  body::before {
    content:'';
    position: fixed;
    top: 0;
    left: 0;height: 100%;
    width: 100%;
    z-index: -1;
    background-image:
      url(https://shots.codepen.io/leen624/pen/mdLjbbz-512.jpg?version=1664907060);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family:'Poppins',sans-serif;
  }
  
  ::placeholder {
    text-align:left;
  }

  h1,
  p,p1 {
    color:white;
    margin-top: 0;
    margin-bottom: 0.5rem;
     text-align:center;
  }
  label {
    display: flex;
    align-items: left;
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color:white;
    border-radius:5px;

  }

 .input-radio{
  color:white;
 }

  input,
  button,
  select,
  textarea {
    margin: 1.5px;
    font-family: inherit;
    font-size:30px;
    line-height: 30px;
     text-align:center;
     color:rgba(22, 21, 22, 0.63);
     
  }
  .header {
    padding: 0.625rem;
    margin-bottom: 1.875rem;
  }

  #description {
    font-style: italic;
    font-weight: 200;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  }

  .parentheses {
    margin-left: 0.25rem;
    font-size: 1rem;
    color: #e4e4e4;
  }

  .submit-button {
    display: block;
    width: 90%;
    padding: 0.75rem;
    background-color: green;
    color: inherit;
    border-radius: 4px;
    cursor: pointer;
  
  }
  
  fieldset{
    border:0;
    padding-top:1rem;
    padding-bottom:1rem;
    padding-right:0;
    padding-left:40px;
    border-radius:5px;
  }
  form{
    padding-top:20px;
    padding-bottom:20px;
    max-width: 725px;
    min-width: 300px;
    margin: 0 auto;
    background-color: rgba(22, 21, 22, 0.63);
    border-radius:5px;
    
  }
  
  .form-control{
    border-radius:5px;
    width:90%;
    font-size: 20px;
    margin-left:5px;
    padding:5px;
  }

   textarea{
    width:90%;
   }
 