*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    margin: 5px;
    padding:5px;
    font-family: Arial, sans-serif; 
    background-color:black;
}

.frame {
    margin-left:5px;
    width: 100vw; 
    height: 100vh; 
    border: 5px #ededed solid;
    display: flex;
}

.rectangle1 {
    width: 8vw;
    height: 93vh;
    border: 3px #d3d2d2 solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:2vw;
    margin-left:15px;
    background: linear-gradient(to bottom right, #808080, #000000);
}

.smallsquare {
    width: 5vw;
    height: 5vw;
    border: 3px #1c1b1b solid;
    margin-top: 2vw; 
    transition: transform 0.3s ease-in-out; 
}

.rectangle2 {
    width: 86vw;
    height: 93vh;
    border: 3px #60605f solid;
    display: flex;
    flex-wrap: wrap;
    overflow-y:scroll;
    gap: 20px; 
    margin-top: 2vw;
    margin-left: 2vw;
    position:relative;
}

.square {
    display:flex;
    width: 300px;
    height: 300px;
    border: 3px #dadada solid;
    margin-top: 1vw;
    margin: auto;
    background: linear-gradient(to bottom right, #808080, #000000);
    position: relative;
    transition: all 0.3 ease;
}

.delete , .expand {
    width:40px;
    height:40px;
    background: linear-gradient(to bottom right, #808080, #000000);
    border: 1px solid white;   
}

.options{
    display:flex;
    justify-content: space-between;
    flex-direction:column;
    align-items: center;
    padding: 6px;
    height: 100%;
    position:absolute;
    top:0;
    right:0; 
}

.delete{
    transition: transform 0.3s ease-in-out; 
}

.expand{
    transition: transform 0.3s ease-in-out; 
}

.delete:hover , .expand:hover{
    transform: scale(1.2);
}

.smallsquare:hover {
   transform: scale(1.2);
}

.content{
 padding:5px;
 height:100%;
 width:80%;
 width:100%;
 overflow:hidden;
 font-family: Arial, sans-serif; 
 color:#fff;
 text-align:left;
 resize:none;
 opacity:0.5;
 border:none;
 outline:none;
 background:transparent;
 font-size:14px;
}
  
p{
    overflow:hidden;
    width:100%;
    height: 100%;
}

.active{
    position:absolute;
    background:#121111;
    z-index:2;
    width:100%;
    height:100%;
    color:white;
    font-size:25px;
}



/* @media screen and (max-width:768px){
    body{
        flex-direction: column;
        align-items: center;
    }
    .rectangle1{
        flex-direction:row;
    }
    .rectangle2{
        flex-direction: column;
        align-items: center;
    }
    .square{
        width:100%;
    }
} */