#main{
    padding:15px;
    margin-top:30px;
    margin-left:10px;
    margin-right:10px;
    margin-bottom:30px;
    text-align:center;
    background-color:rgb(224, 223, 223);
  }
  
  #img-div{
    background-color:white;
    padding:10px;
  }
  
  #title{
    padding:1px;
  }
  
   img{
     display:block;
     max-width:100%;
   }
  
  
  
   section{
     display:block;
      text-align:center;
   }
  
   ul{
     margin:10px;
     padding:10px;
     display:block;
     max-width:550px;
    text-align:center;
    
  
   }
  
   li{
     margin:10px;
     padding:5px;
      text-align:center;
     
   }
  