body{
    background-color: rgb(83, 13, 13)
}

.navbar{
    font-family: sans-serif;
    color:white;
    left:0; 
    border-radius: 1.5rem;
    border: 0 solid white;
    display:flex;
    flex-direction: column;
    z-index: 10;
    position:fixed;
    justify-content: space-between;
    height:100vh;
    text-decoration:none;

}

.options{
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    align-items: left;
    padding-left:2rem;
    width:auto;
    text-decoration:none;
    font-size:1rem;
    color:rgb(185, 184, 184)
}

.options:hover{
    color:white;
}

root{
    display:block
}

.bottomlefticons{
    display:flex;
    flex-direction: row;
    border: 0 solid white;
}

.smallicon{
 justify-content: center;
 align-items: center;
 width:2.5rem;
 height:2.5rem;
 display:flex;
 text-decoration:none;
}

.mainn{
     overflow-y:auto;
     width:100vw;
     height:100vh;
     scroll-behavior: smooth;
     display:block;
}

.home{
    display:flex;
    flex-direction: column;
    position:relative;
    justify-content: center;
    height:100vh;
}

.upperpart{
    justify-content: flex-end;  
    display:flex;
    height:100%;
    align-items: center;
    position:relative;
}

.intro{
    width: 24rem;
    font-size:1.25rem;
    line-height:1.75rem;
    text-align:justify;
    display:block;
}


.lowerpart{
    display:flex;
    flex-direction: column;
    overflow:hidden;
    align-items: flex-end;
    padding:2.5rem;
    justify-content: space-between;
    height:100%;
    gap:1rem;
    padding-right:3rem;

}

.register{
    font-size:1.5rem;
    line-height:1.75rem;
    width: 22rem;
    text-align: justify;
    border:2px solid black;
    border-radius: 2rem;
    background-color: rgb(144, 37, 37);
    
}

.register:hover{
    background-color: rgb(175, 23, 23);
}


.regibutton{
    font-size:2rem;
    line-height:2rem;
    height:4rem;
    font-weight: 600;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    align-items: center;
    flex-direction: column;
    display:flex;
    justify-content: center;
    text-decoration: none;
    color:white;
}

.about{
    margin-top: 14rem;
    margin-bottom: 10rem;
    text-align: center;
}

.aboutcontent{
    font-size: 30px;
    color: white;
    padding-left: 8rem;
    padding-right: 8rem;
}

.abouthead{
    font-size:10rem;
}

.timer{
    text-align: center;
}

.timerheading{
    font-size: 5rem;
}

.timerwrapper{
    width :100%;
}

.maintimer{
    font-size: 30px;
    color: white;
    padding:2rem;
    border: 1px solid yellow ;
    border-radius: 5px;
}